<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.lo2ay.AlarmPlus" android:versionCode="0" android:versionName="WIP">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<application android:label="AlarmPlus" android:theme="@style/MyTheme"></application>
</manifest>